.information-box{
  border: 1px solid #ddd;
  background-color: #FEFEFE;
  padding: 10px;
  box-shadow: inset 1px 1px 3px #555;
  margin-bottom: 20px;
}
.information-box-header{
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.information-box-footer{
  padding: 5px;
  margin-top: 15px;
  border-top: 1px solid #ddd;
}
.information-box-header-clickable{
  cursor: pointer;
  padding-top: 10px;
  margin-left: 15px;
}
.information-box-header-clickable:hover{
  color: @brand-primary;
}
.information-box-title{
  margin: 0;
  line-height: 1.42857143;
  font-size: 25px;
  color: @brand-info;
}
.information-box-body{
  position: relative;
  padding: 15px 5px 0px 5px;
}
.information-box-content{
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.information-main{
  padding: 5px;
  margin-bottom: 20px;
}
.information-main-header{
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.information-main-header-clickable{
  cursor: pointer;
  margin-left: 15px;
}
.information-main-header-clickable:hover{
  color: @brand-primary;
}
.information-main-title{
  margin: 0;
  line-height: 1.42857143;
  font-size: 28px;
  color: @brand-info;
}
.information-main-body{
  position: relative;
  padding: 15px 5px 0px 5px;
}
.information-main-content{
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
  font-size: 16px;
  line-height: 2.6;
}
.edit-form{
  height: 38px;
}
.edit-label{
  font-size: 16px;
}
.event-ok{
  color: @brand-success;
}
.event-warning{
  color: @brand-warning;
}
.event-error{
  color: @brand-danger;
}
.event-success{
  color: @brand-primary;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.control-label {
  padding-top: 7px;
  margin-top: 0;
}
.btn-space {
  margin-right:15px;
}
.cell-bg {
  background-color: @brand-primary;
  color: #FFF
}
.submit-warning{
  color: @brand-danger;
  margin-top: 6px;
  font-size: 20px;
}
.form-control-type{
  text-align: right;
  margin-top: 8px;
}
.select-type-dropdown{
  width: 100%;
}
.text-overflow{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nopadding {
  padding: 0px !important;
  margin: 0px !important;
}

.main-data-container{
  padding-top:30px;
  padding-bottom: 30px;
}

.main-data-title{
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}