.filters > div {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

.Select-environment {
  width: 100px;
}
.Select-application {
  width: 250px;
}
.Select-environmentclass {
  width: 100px;
}
.Select-nodetype {
  width: 150px;
}
.Select-resourcetype {
  width: 200px;
  white-space: nowrap;
}

.Input-alias {
  width: 200px;
  white-space: nowrap;
}

.Select-value {
  padding-right: 25px !important;
}
