
.filters > div{
  display:inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

.Select-environment{
  width:70px;
}
.Select-application{
  width:250px;
}
.Select-environmentclass{
  width:80px;
}
.Select-nodetype{
  width:150px;
}
.Select-resourcetype{
  width:200px;
  white-space: nowrap;
}

.Input-alias{
  width:200px;
  white-space: nowrap;
}
