.search-entity-types {
  margin-top: 40px;
  margin-left: -15px;
}

.search-entity-types > li > a {
  color: @fasit-primary !important;
  font-size: larger;
}
.search-entity-types > li > a:hover {
  background:#fff;
}

.search-entity-types > li > a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: @fasit-primary;
  bottom:0;
  left:0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 550ms cubic-bezier(.45,1,.32,1);
  transition: all 550ms cubic-bezier(.45,1,.32,1);
}

.search-entity-types > li > a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.home-brand-logo-container {
  //display: inline-block;
  //text-align: center;
  height: 400px;
  padding-top: 70px;
  //margin-left: -250px;
}

.home-brand-logo-center {
  width: 110px;
  padding-top: 70px;
  margin-left: 70px;
  text-align: center;
  z-index: 2;
  position: absolute;
}

.home-brand-logo {
  text-align: center;
  width: 300px;
  //filter: drop-shadow(3px 3px 2px #888);
  //-webkit-animation-name: spin;
  //-webkit-animation-duration: 180000ms;
  //-webkit-animation-iteration-count: infinite;
  //-webkit-animation-timing-function: linear;
  //-moz-animation-name: spin;
  //-moz-animation-duration: 180000ms;
  //-moz-animation-iteration-count: infinite;
  //-moz-animation-timing-function: linear;
  //-ms-animation-name: spin;
  //-ms-animation-duration: 180000ms;
  //-ms-animation-iteration-count: infinite;
  //-ms-animation-timing-function: linear;

  //animation-name: spin;
  //animation-duration: 180000ms;
  //animation-iteration-count: infinite;
  //animation-timing-function: linear;
}

.spinningIcon:hover > button > span > .fa-circle {
  color: darken(@magenta, 5%) !important;
}
.spinningIcon:hover > button > span{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: spin;
  -moz-animation-duration: 400ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: spin;
  -ms-animation-duration: 400ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;

  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.topnavIcon:hover{
  filter: drop-shadow(3px 3px 2px #888);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 200ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 200ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-brand-name {

  font-size: 50px;
  text-align: center;
  color: #033c73;
}

.search-field-text-input-in-topnav {
  display: inline-block;
  height: 45px;
  margin-top: 3px;
  font-size: large;
}

.search-field-text-input {
  height: 50px;
  font-size: x-large;
}

.search-field-button {
  position: absolute;
  display: inline-block;
  height: 48px;
  width: 55px;
  right: 16px;
  top: 1px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  outline: none;
}

.search-field-button:hover {

  border-top: none;
  border-bottom: none;
  outline: none;
}
