.search-entity-types {
  margin-top: 40px;
  margin-left: -23px;
}
.search-entity-types > li > a{
  color: @fasit-primary !important;
  font-size: larger;
}
.home-brand-logo-container{
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}
.home-brand-logo {
  width: 200px;
  filter: drop-shadow(3px 3px 2px #888);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 180000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 180000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 180000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 180000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
   from { -ms-transform: rotate(0deg); }
   to { -ms-transform: rotate(360deg); }
 }
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.home-brand-name {

  font-size: 50px;
  text-align: center;
  color: #033c73;
}

.search-field-text-input-active{
  display: inline-block;
  height: 45px;
  margin-top: 3px;
  font-size: large;
}
.search-field-text-input{
  height: 50px;
  font-size: x-large;
}
.search-field-button{
  position: absolute;
  display: inline-block;
  height: 48px;
  width: 55px;
  right: 16px;
  top: 1px;
  border-top: none;
  border-bottom: none;
  outline: none;
}
.search-field-button:hover{

  border-top: none;
  border-bottom: none;
  outline: none;
}
