//@import "../../node_modules/font-awesome/less/font-awesome";
@import "../../node_modules/bootswatch/dist/cerulean/bootstrap.css";
@import "../../node_modules/react-select/less/select";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-light";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-regular";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-medium";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-bold";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-black";
@import "forms";
@import "topnav";
@import "navigation";
@import "login";
@import "filters";
@import "nodes";
@import "home";
@import "content-pages";
@import "helper-classes";

// Bootstrap variable equivalents (cerulean theme values)
@brand-primary: #2fa4e7;
@brand-success: #73a839;
@brand-warning: #dd5600;
@brand-danger: #c71c22;
@body-bg: #fff;

@fasit-primary: #033C73;
@fasit-secondary: #f2f2f2;
@fasit-tertiary: #757575;
@fasit-border: #ccc;
@orange: #cb4b16;
@magenta: #d33682;
@blue: #268bd2;
@white: #fdf6e3;
@light: #93a1a1;
@topnav: #515d66;
@base: #002b36;
@avatarBackgroundColor: #268bd2;
