//@import "../../node_modules/font-awesome/less/font-awesome";

@import "../../node_modules/bootstrap/less/bootstrap";
//@import "../../node_modules/bootswatch/dist/cerulean/bootswatch";
//@import "../../node_modules/bootswatch/cerulean/variables";
//@import "../../node_modules/react-select/less/select";

//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-light";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-regular";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-medium";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-bold";
//@import "../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-black";
@import "forms";
@import "topnav";
@import "navigation";
@import "login";
@import "filters";
@import "nodes";
@import "home";
@import "contentpages";
@import "helperclasses";

// Må peke denne variablelen på en tom css for å overstyre bootswatch sin eksterne font-import
@web-font-path: "/empty.css";

@body-bg: #fff;
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-danger: #d9534f;
@brand-success: #5cb85c;
@brand-warning: #f0ad4e;
//
//@fasit-primary: #0365b3;
@fasit-primary: #033c73;
@fasit-secondary: #f2f2f2;
@fasit-tertiary: #757575;
@fasit-border: #ccc;
@orange: #cb4b16;
@magenta: #d33682;
@blue: #268bd2;
@white: #fdf6e3;
@light: #93a1a1;
@topnav: #515d66;
@base: #002b36;
@avatarBackgroundColor: #268bd2;

@wrapper-bg: @fasit-primary;
@brand-info: @fasit-primary;
@nav-tabs-border-color: @fasit-border;

html {
  font-size: 16px;
}

//body {
//  font-family: 'Roboto', sans-serif;
//}
