.navSearchContainer{
  width: 100%;
  position: absolute;
}
.navSearch {
  outline: none !important;
  margin-bottom: -14px;
  width:100%
}
.navSearchTextInput {
  height: 50px;
  font-size: x-large;
  outline: none !important;
  display: block;
  width: 100%;
  padding: 8px 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  animation-iteration-count: 2;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.navSearchTextInput:focus{
    border-color: @fasit-primary;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.navSearchButton {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  color: #033C73;
  position: relative;
  display: inline-block;
  height: 48px;
  width: 55px;
  top: -49px;
  margin-right: 1px;
  float: right;
  border-radius: 0px 4px 4px 0px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  outline: none;
}

.navSearchButton:hover {
  border-top: none;
  border-bottom: none;
  outline: none;
}

.navSearchDropdown{
  border: 1px solid #ccc;
  border-top: 0px;
  position: absolute;
  z-index: 100;
  background: #fff;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 4px 4px 10px #ddd;
  width: 100%;;
  top: 50px;

}
.navOption > a, .navOption >a:hover{
  margin-left: 30px;
  color: #000;
  font-size: large;
  text-decoration: none;
}

.selectedNavOption, .selectedNavOption:hover, selectedNavOption:focus{
  background-color: @blue;
}
.selectedNavOption >a, .selectedNavOption >a:hover, selectedNavOption >a:focus{
  color: #fff;
  text-decoration: none;

}
.loading-spinner {
  height: 100px;
}

.navbar-top-links > li > a:hover {
  color: @fasit-secondary;
  background-color: transparent;
}

.breadcrumb {
  padding: 10px 0px 0px 0px;
  margin: 0px;
  background: none;
  font-size: large;

}
.breadcrumb > li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:350px;
}



.link {
  border-radius: 4px 0px 0px 4px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(196, 227, 243, 0.13);
  height: 30px;
  margin-top: -1px;
}
.main-content-container{
  margin-top: 20px;
}
.side-menu-container{
  position:fixed;
  height:100vh;
  border-right: 1px solid @fasit-primary;
  background-color: @fasit-secondary;
}

.element-list-container{
  height: 0
}
.element-list-container-selected{
  height: 680px;
  transition: height 200ms ease-in-out
}
.element-list{
  //background-color: @fasit-secondary;
  //border-bottom: 1px solid red;
}

.element-list-paging {
  position: relative;
  padding: 0px 2px 0px 2px;
  background-color: #fff;

}

.element-list-paging-number{
  position: relative;
  width: 3px;
  display: table-cell;
  float: none;
  vertical-align: middle;
  text-align: center;
}

.element-list-item > div{
  padding: 6px;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 4px 8px 0 #ddd;
  margin-bottom: 10px;
  transition: 0.3s;
}

.element-list-item > div:hover {
  box-shadow: 0 8px 16px 0 #ddd;
  background-color: #fcfcfc;
}
.element-list-item-active > div {
  background: #fff;
  left: 1px;
  position:relative;
  border-top: 1px solid @fasit-primary;
  border-left: 1px solid @fasit-primary;
  border-bottom: 1px solid @fasit-primary;
  border-right: none;
}
a.element-list-item {
  text-decoration: none !important;
  text-align:left
}
.dropdown-menu {
  z-index: 1;
}

.sidebar-menu-active > a {
  background-color: #FFF;
  color: @fasit-primary !important;
}

.sidebarNav-link{
  border: 1px solid #ccc;
  color: @fasit-tertiary;
}
.sidebarNav-link:hover{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}
.sidebarNav-link-active, .sidebarNav-link-active:hover, .sidebarNav-link-active:focus{
  color: @brand-primary;
}
.navbar-static-top {
  z-index: auto;
}
.sidebar-menu-letter > a{
  color: #FFF;
}
.sidebar-menu-letter > a:hover .sidebar-menu-letter>a:active{
  color: @fasit-primary !important;
}
.singInButton{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.password-message{
  margin-top: 30px;
  margin-bottom: 0px;
  color: @brand-danger;
  font-weight: 800;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.btn-white{
  background-color: transparent;
  color: @fasit-tertiary;
}

.btn-white:hover{
  color: #444;
  background-color: #f5f5f5;
}
.btn-grey{
  border-radius: 0;
  border: 1px solid #ccc;
  background-color: @fasit-secondary;
  color: @fasit-primary;
}
.btn-grey:hover{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#d1d1d1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#d1d1d1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#d1d1d1);
  background-image: -o-linear-gradient(top,#f8f8f8,#d1d1d1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

.loadingDots:after {
  font-size: large;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}


.keyboardButton{
  position:absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #93a1a1;
  color: #fff;
  vertical-align: middle;
  text-align:center;
  border-radius: 10px;
}