.navSearchContainer{
  width: 100%;
  position: inherit;
  display: inline-block;
  height: 50px;
}
.navSearchForm {
  outline: none !important;
  margin-bottom: -14px;
  width:100%
}
.navSearchTextInput {
  height: 50px;
  font-size: x-large;
  outline: none !important;
  width: 100%;
  padding: 8px 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  animation-iteration-count: 2;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.navSearchTextInput:focus{
    border-color: @fasit-primary;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px 4px rgba(102, 175, 233, 0.6);
}

.navSearchButton {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  color: #033C73;
  position: relative;
  height: 48px;
  width: 55px;
  top: -49px;
  margin-right: 1px;
  float: right;
  border-radius: 0px 4px 4px 0px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  outline: none;
}

.navSearchButton:hover {
  border-top: none;
  border-bottom: none;
  outline: none;
}

.navSearchDropdown{
  border: 1px solid #ccc;
  border-top: 0px;
  position: absolute;
  z-index: 100;
  background: #fff;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 4px 4px 10px #ddd;
  width: 100%;;
  top: 50px;

}
.navOption > div, .navOption >div:hover{
  margin-left: 30px !important;
  margin-right: -20px;
  color: #000;
  font-size: large;
  text-decoration: none;
}

.selectedNavOption, .selectedNavOption:hover, selectedNavOption:focus{
  background-color: @blue;
}
.selectedNavOption >div, .selectedNavOption >div:hover, selectedNavOption >div:focus{
  color: #fff;
  text-decoration: none;

}

.main-content-container{
  margin-top: 20px;
}

.element-list-paging {
  position: relative;
  padding: 10px 2px 0px 2px;
}

.element-list-paging-number{
  position: relative;
  width: 3px;
  display: table-cell;
  float: none;
  vertical-align: middle;
  text-align: center;
}

.singInButton{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.loadingDots:after {
  font-size: large;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}


.keyboardButton{
  position:absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #93a1a1;
  color: #fff;
  vertical-align: middle;
  text-align:center;
  border-radius: 10px;
}