.node-type-image {
  width: 50px;
  display: inline-block;
}

.disabled-text-color {
  color: #aaa;
}

.powered-off{
  color: @brand-danger
}
.powered-on{
  color: @brand-success
}
.popover-size {
  max-heigth: 400px !important;
  max-width: 400px !important;
  width:300px;
  height: 200px;
}

.submit-button-placement {
  position: absolute;
  bottom: 20px;
  right: 6px;
}