.topnav{
  height: 60px;
  padding: 5px;
  padding-right: 20px;
}

.topnav-active{
  background-color: @fasit-secondary;
}
.topnav-user-icon{
  color: @fasit-primary;
  border-radius: 62px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 #ddd;
}
.topnav-user-icon:hover{
  //background-color: darken(@fasit-secondary, 20%);
  box-shadow: 0 8px 16px 0 #ddd;
}
.topnav-brand{
  color: @fasit-primary;
  font-size: x-large;
  margin-top: 4px;
  margin-left: 10px;
}
.topnav-brand-active{
  color: @fasit-primary;
  font-size: xx-large;
  margin-top: 2px;
  margin-left: -5px;
}
.topnav-brand-logo-container{
  float: left
}
.topnav-brand-logo {
  margin-left: 10px;
  height: 50px;
  filter: drop-shadow(3px 3px 2px #888);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 180000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 180000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 180000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 180000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}