.topnav {
  height: 60px;
  padding: 5px;
  padding-right: 20px;
}

.topnav-active {

  background-color:  @topnav;


}

.topnav-button, topnav-link {
  background-color: lighten(@topnav, 20%);
}

.topnav-button:hover {
  color: white;
  background-color: lighten(@topnav, 30%);
}

topnav-link:hover {
  color: white;
  text-decoration: underline;
}

.user-icon{
  color: @magenta
}

.tools-topnav, .tools-topnav:focus{
  color: white;
  margin-top: 11px;
}

.tools-topnav:hover {
  color: white;
}
.c:focus, .topnav-button:active, .topnav-button:focus, .topnav-link:focus {
  outline: none !important;
}

.nav-tabs > li > a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  border-bottom: 0;
  color: #444;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-top: 3px solid @fasit-primary;
  color: @fasit-primary;
  background: #fff
}

.nav-tab-positioning {
  position: absolute;
  top: 45px;
}

.nav-tab-positioning > li > a {
  color: @fasit-tertiary;

}


.topnav-brand-logo-container {
  float: left;
}


.topnav-brand-logo {
  height: 56px;
}

.context-menu{
  height: 90px;
  background-color: #fafafa;
  border-top: 1px solid @fasit-border;
  border-bottom: 1px solid @fasit-border;
  position: relative;
}

.topnav-menu{
  list-style:none;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: -0px;
  padding:0;

}
.topnav-menu > li {
  padding: 6px 30px 6px 20px;
  line-height: 1.42857143;
  display: block;
  clear: both;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
}

.topnav-menu-selector > li:hover {
  cursor:pointer;
  background-color: @brand-primary;
  color: #fff;
}

.app-container{
  padding-top:10px;
  width:70px;
  margin-right:5px;
  display:inline-block;
  margin-bottom:20px;
  border:1px solid transparent;
  color: #555;

}

.app-container:hover{
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #222;
}

.app-icon{
  width:50px;
  margin-left:5px;
}

.app-label{
  font-weight: 600;
  padding-top: 5px;
  text-align:center;

}